Source: vi
Section: editors
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends:
 debhelper (>= 10),
 libncurses5-dev,
Standards-Version: 3.9.8
Homepage: http://ex-vi.sourceforge.net
#Vcs-Git: https://anonscm.debian.org/collab-maint/vi.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/vi.git

Package: vi
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Traditional Vi
 Vi is the original screen based text editor for Unix systems.
 It is considered the standard text editor, and is available on
 almost all Unix systems.
