Source: vi
Section: editors
Priority: optional
Maintainer: Boyuan Yang <byang@debian.org>
Build-Depends:
 debhelper-compat (= 12),
 libncurses5-dev,
Rules-Requires-Root: no
Standards-Version: 4.3.0
Homepage: http://ex-vi.sourceforge.net
Vcs-Git: https://github.com/hosiet/vi.git
Vcs-Browser: https://github.com/hosiet/vi

Package: vi
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Traditional Vi
 Vi is the original screen based text editor for Unix systems.
 It is considered the standard text editor, and is available on
 almost all Unix systems.
