Source: vi
Section: editors
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends:
 debhelper (>= 10~),
 libncurses5-dev,
Standards-Version: 4.1.4
Homepage: http://ex-vi.sourceforge.net
Vcs-Git: https://github.com/hosiet/vi.git
Vcs-Browser: https://github.com/hosiet/vi

Package: vi
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Traditional Vi
 Vi is the original screen based text editor for Unix systems.
 It is considered the standard text editor, and is available on
 almost all Unix systems.
